body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightseagreen;


 }
 

 .border {
    height: 400px;
    max-width: 350px;
    margin: auto;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
 }

 .cancel {
    float: left;

 }

 ::placeholder {
    opacity: 1.4;
 }

 .navbar {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: lightblue;
}
.navbar a.active {
  background-color: orange;
  color: white;
}
.active {
  background-color: orange;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}


form {
    padding: 10px;
}
